html,
body,
ul,
li,
input,
p,
button,
em,
i,
strong,
b,
a,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-style: normal;
}

body,
html {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: 'Helvetica Neue';
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clear::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

header > .top {
  height: 90px;
}

header > .top img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header > .top i {
  position: absolute;
  top: 15px;
  right: 25px;
  width: 24px;
  height: 24px;
  background: url("../img/icon1.png") no-repeat 0 -385px;
  cursor: pointer;
}

header > .shortcut {
  background-color: #f9f9f9;
}

header > .shortcut > .container ul {
  display: table-cell;
  height: 40px;
  line-height: 40px;
}

header > .shortcut > .container ul li {
  float: left;
  position: relative;
  padding: 0 8px;
}

header > .shortcut > .container ul li:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -5px;
  display: block;
  width: 1px;
  height: 10px;
  background: #d3dede;
}

header > .shortcut > .container ul li a {
  margin: 0 3px;
  color: #a4a4a4;
}

header > .shortcut > .container ul li a:hover {
  color: #ca151d;
}

header > .shortcut > .container ul.left > li:last-child:after {
  width: 0;
}

header > .shortcut > .container ul.right > .s-dropdown {
  position: relative;
  box-sizing: border-box;
  width: 80px;
  padding-right: 13px;
}

header > .shortcut > .container ul.right > .s-dropdown > div {
  z-index: 5;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

header > .shortcut > .container ul.right > .s-dropdown:hover {
  background: #fff;
}

header > .shortcut > .container ul.right > .s-dropdown:hover::after {
  width: 0;
}

header > .shortcut > .container ul.right > .s-dropdown:hover > a {
  color: #ca151d;
}

header > .shortcut > .container ul.right > .s-dropdown:hover i {
  transform: translateY(-4px) rotate(180deg);
  border-top-color: #ca151d;
}

header > .shortcut > .container ul.right > .s-dropdown:hover > .slider {
  display: block;
}

header > .shortcut > .container ul.right > .s-dropdown > a i {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -1px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #888;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-help {
  position: absolute;
  background-color: #fff;
  left: 0;
  padding-bottom: 10px;
  display: none;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-help span {
  display: block;
  width: 80px;
  height: 30px;
  text-align: center;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-help span > a {
  color: #666;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-help span > a:hover {
  color: #ca151d;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-nav {
  position: absolute;
  background-color: #fff;
  right: 0;
  width: 890px;
  height: 160px;
  display: none;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-nav > .logoB {
  float: left;
  margin: 37px 46px 0 49px;
  cursor: pointer;
  line-height: 1em;
  text-align: center;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-nav > .logoB > .logo {
  width: 50px;
  height: 50px;
  background: url("../img/icon-header.png") no-repeat -41px 0;
  margin-bottom: 8px;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-nav > .logoB a {
  margin: 0;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-nav > .logoB a:hover {
  float: left;
  color: #ca151d;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-nav > dl {
  float: left;
  width: 185px;
  padding-top: 25px;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-nav > dl dt {
  font-size: 16px;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-nav > dl dd {
  width: 80px;
  float: left;
  line-height: 25px;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-nav > dl dd a {
  margin: 0;
  color: #666;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-nav > dl dd a:hover {
  color: #ca151d;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-mobile {
  position: absolute;
  display: none;
  right: 0;
  width: 244px;
  background-color: #fff;
  padding: 20px 0 0;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-mobile .detail {
  height: 111px;
  box-sizing: border-box;
  padding: 0 0 20px 24px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-mobile .detail > div {
  float: left;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-mobile .detail:last-child {
  padding-bottom: 0;
  border-radius: 5px;
  margin: 0;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-mobile .detail .l-img img {
  width: 90px;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-mobile .detail .r-news {
  margin-left: 10px;
  line-height: 16px;
  color: #ca151d;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-mobile .detail .r-news h4 {
  font-size: 14px;
  line-height: 1em;
  margin-bottom: 4px;
  color: #000;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-mobile .detail .r-news em {
  display: block;
  margin-top: 5px;
  width: 32px;
  height: 32px;
  background: url("../img/icon-header.png") no-repeat -484px 0;
}

header > .shortcut > .container ul.right > .s-dropdown > .slider-mobile .detail .r-news em.wx {
  background: url("../img/icon-header.png") no-repeat -518px 0;
}

header > .shortcut > .container ul.right > .s-dropdown > .minicar-empty {
  position: absolute;
  right: 0;
  width: 460px;
  height: 230px;
  box-sizing: border-box;
  background: #fff;
  display: none;
  padding: 20px 0;
  border-radius: 5px;
}

header > .shortcut > .container ul.right > .s-dropdown > .minicar-empty .icon {
  width: 100px;
  height: 100px;
  background: url("../img/icon-header.png") no-repeat 0 -166px;
  margin: 0 auto;
}

header > .shortcut > .container ul.right > .s-dropdown > .minicar-empty .carinfo {
  font-size: 14px;
  color: #888;
  text-align: center;
}

header > .shortcut > .container ul.right > .s-dropdown > .minicar-empty a {
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #333;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 15px;
  margin: 0 auto;
}

header > .shortcut > .container ul.right > .s-dropdown > .minicar-empty a:hover {
  color: #ca151d;
  border-color: #ca151d;
}

header > .shortcut > .container ul.right > .mobile {
  width: 70px;
}

header > .shortcut > .container ul.right > .no-line:after {
  width: 0;
}

header > .shortcut > .container ul.right > .shopcar {
  padding: 0 0 0 20px;
  background: #f2f2f2;
}

header > .shortcut > .container ul.right > .shopcar b {
  position: absolute;
  left: 7px;
  top: 50%;
  margin-top: -6px;
  width: 13px;
  height: 12px;
  background: url("../img/icon-header.png") no-repeat -1px -1px;
}

header #modul {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

header #modul .content {
  width: 498px;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%);
  box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.1);
}

header #modul .content .t {
  background: #ca151d;
  height: 29px;
  border: 1px solid #ca151d;
  border-bottom: 0;
  text-align: right;
  cursor: move;
}

header #modul .content .t span {
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

header #modul .content .b {
  padding-top: 20px;
  text-align: center;
  background: #fff;
}

header #modul .content .b > a {
  display: inline-block;
  width: 190px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  color: #333;
  text-align: center;
}

header #modul .content .b > a.active {
  color: #ca151d;
}

header #modul .content .b > a:first-child {
  border-right: 1px solid #ccc;
}

header #modul .content .b > a:hover {
  color: #ca151d;
}

header #modul .content .b form {
  padding-top: 25px;
}

header #modul .content .b form input {
  width: 328px;
  height: 46px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #333;
  font-size: 14px;
}

header #modul .content .b form input::-webkit-input-placeholder {
  color: #ccc;
}

header #modul .content .b form input[type="button"] {
  background: #B40707;
  color: #fff;
  font-size: 14px;
  height: 44px;
  border-radius: 25px;
  margin-top: 15px;
  cursor: pointer;
}

header #modul .content .b form input[type="button"]:hover {
  background: #C70000;
}

header #modul .content .b form .mes-login {
  padding: 15px 0 0 82px;
  color: #0064cc;
  text-align: left;
  cursor: pointer;
}

header #modul .content .b form .mes-login i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url("../img/ic_smLogin.png") no-repeat center;
  vertical-align: middle;
}

header #modul .content .b form .more {
  padding: 15px 82px;
}

header #modul .content .b form .more label {
  float: left;
  cursor: pointer;
  color: #888;
}

header #modul .content .b form .more label input {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 5px;
}

header #modul .content .b form .more a {
  float: right;
  color: #0064cc;
}

header #modul .content .b form > a {
  color: #0064cc;
}

header #modul .content .b .f {
  margin-top: 110px;
  margin-bottom: 30px;
}

header #modul .content .b .f .other {
  padding-bottom: 10px;
}

header #modul .content .b .f .other i {
  display: inline-block;
  width: 94px;
  height: 1px;
  background: url("../img/thirdLine.png");
  vertical-align: middle;
}

header #modul .content .b .f .other i.third-reverse {
  background: url("../img/thirdLine-reverse.png");
}

header #modul .content .b .f .other span {
  color: #ccc;
}

header #modul .content .b .f > span a {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin: 0 10px;
  background: url("../img/third_login.png") no-repeat -73px -10px;
}

header #modul .content .b .f > span a:hover {
  background-position: -73px -56px;
}

header #modul .content .b .f > span a:nth-of-type(2), header #modul .content .b .f > span a:nth-of-type(2):hover {
  background-position-X: -133px;
}

header #modul .content .b .f > span a:nth-of-type(3), header #modul .content .b .f > span a:nth-child(3):hover {
  background-position-X: -13px;
}

header #modul .content .b .last {
  color: #666;
  padding-bottom: 20px;
}

header #modul .content .b .last a {
  color: #0064cc;
  text-decoration: underline;
}
